<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />

</head>

<style>
html {height: 100%;}
body {height:100%;}
</style>

<body style="background-color: lightsalmon;">

<div class="column is-offset-2">
<h3 class="title">Login & Signup demonstration in Flask</h3>


<br>
<h3 class="subtitle"><b>Welcome {{ fname }} !!</b></h3>

    <form action="/logout" method="post">
        <button type="submit" class="button is-block is-info">LOGOUT</button>

    </form>


<br><br>
<br><br><br><br>
</div>

</body>

</html>